<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="js/megamenu.js"></script>
    <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
    <script src="js/menu_jquery.js"></script>
    <script src="js/simpleCart.min.js"> </script>
</head>
<body>


<form th:action="@{/add}"  action="#" method="post" th:object="${pracownik}">
    <input type="text"  th:field="*{imie}" placeholder="imie"/> <br/>
    <input type="text" th:field="*{nazwisko}" placeholder="nazwisko"/><br/>
    <input type="text" th:field="*{data_zatrudnienia}" placeholder="data_zat"/><br/>
    <input type="text" th:field="*{data_zwolnienia}" placeholder="data_zwol"/><br/>
    <input type="number" th:field="*{pesel}" placeholder="pesel"/><br/>
    <input type="number" th:field="*{pensja}" placeholder="pensja"/><br/>
    <input type="submit" value="Wyslij"/>

</form>
</body>
</html>