<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="template :: head">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<div th:replace="template :: header"></div>
<div class="container">
	<div class="check">	 
			 <div class="col-md-3 cart-total">
			 <a class="continue" href="#">Kontynuuj</a>
			 <div class="price-details">
				 <h3>Szczegóły</h3>
				 <span>Suma</span>
				 <div class = "chaching"><span th:text="${suma}" class="simpleCart_total">0</span></div>
				 <span>Zniżka</span>
				 <span class="total1">---</span>
				 <span>Koszty dostawy</span>
				 <span th:text="${koszt} + '0 zł'" class="shipping">10.00</span>
				 <div class="clearfix"></div>	
				 <h3>Dostawa</h3>
				 <form method="post" th:action="@{/wyborDostawy}">
				  <div class="shipping">
					  <label class="checkbox"><input  type="radio"  value="Poczta polska" name="filter"><i></i>Poczta polska</label>
					  <label class="checkbox"><input type="radio" value="Kurier" name="filter"><i></i>Kurier</label>
					  <label class="checkbox"><input type="radio" value="Odbior osobisty" name="filter"><i></i>Odbior osobisty</label>
					  
					  <button type="submit" >Wybierz</button>				  
					  </div>	
				  </form>		 
			 </div>	
			 <ul class="total_price">
			   <li class="last_price"> <h4>SUMA</h4></li>	
			   <li class="last_price_count" th:text="${sumaAll} + '0 zł'"><span class="TotalDosh">0.00 PLN</span></li>
			   <div class="clearfix"> </div>
			 </ul>
			
			</div>
		 <div class="col-md-9 cart-items">
			 <h1>Mój koszyk</h1>
				
			 <div class="cart-header" th:each="p: ${productss}" th:object="${p}">
				 <a class="close1" th:href="@{/UsunKsiazke(ID=*{ID})}"> </a>
				 <div class="cart-sec simpleCart_shelfItem">
						<div class="cart-item cyc">
						
						<img  class="img-responsive" th:unless="*{zdjecia.isEmpty()}" th:src="*{zdjecia.get(0).getAdres()}"    alt=""/>
						<img class="img-responsive"  th:if="*{zdjecia.isEmpty()}"   src="/images/brak.jpg"  />
						</div>
					   <div class="cart-item-info">
						<h3><a th:text="*{tytul}" href="#">Istoty Ciemności </a><span th:text="*{wydawnictwo}" >Model No: 3578</span></h3>
						<ul class="qty">
							<li><p>Liczba stron: <div th:text="*{iloscStron}" > 5 </div> </p></li>
						</ul>
						
							 <div class="delivery">
							 <span>Dostawa w ciągu 2-3 dni roboczych</span>
							 <div class="clearfix"></div>
				        </div>	
					   </div>
					   <div class="clearfix"></div>
											
				  </div>
				  
				  
				  
				  
				  
				
			 </div>
			
		 
		
			<div class="clearfix"> </div>
	 </div>
	 </div>
<div th:replace="template :: footer"></div>


</body>
</html>