<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="js/megamenu.js"></script>
    <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
    <script src="js/menu_jquery.js"></script>
    <script src="js/simpleCart.min.js"> </script>
</head>
<body>
<div class="container">
<div class="row">
<div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
<div class="row">
<div class="col-xs-3 col-md-3 col-sm-3 col-lg-3"></div>
<div class="col-xs-6 col-md-6 col-sm-6 col-lg-6"  style="margin-top: 30px; margin-bottom: 30px; border: 5px solid #cc99cc; background-color: white; padding: 40px 15px 40px 15px">
	<form th:action="@{/addPracownicy}" method="post" action="#" th:object="${mfo}">
	<input type="text" style="visibility:hidden;" th:field="*{uzytkownik.ID}" />
	<h2 style="text-align: center; color: #919191; margin-bottom: 15px"> EDYCJA PRACOWNIKA </h2>
			<div class="form-group">
				<label for="exampleImie"><b>Imie</b></label>
    			<input  class="form-control" type="text" th:field="*{uzytkownik.imie}" id="exampleImie"placeholder="Imie"/> <br />
    		</div>
    		<div class="form-group">
    			<label for="exampleNazwisko"><b>Nazwisko</b></label>
    			<input  class="form-control" type="text" th:field="*{uzytkownik.nazwisko}" id="exampleNazwisko" placeholder="Nazwisko"/><br />
    		</div>
    		<div class="form-group">
    			<label for="exampleEmail"><b>Email</b></label>
    			<input  class="form-control" type="text" th:field="*{uzytkownik.email}" id="exampleEmail" placeholder="Email"/><br />
    		</div>
    		<div class="form-group">
    			<label for="examplePlec"><b>Płeć</b></label>
            	<select class="form-control" th:field="*{uzytkownik.plec}">
                	<option value="Mężczyczna">Mężczyzna</option>
                	<option value="Kobieta">Kobieta</option>
                </select>
    		</div>
    		<div class="form-group">
    			<label for="exampleHaslo"><b>Hasło</b></label>
    			<input  class="form-control" type="password" th:field="*{uzytkownik.haslo}" id="exampleHaslo" placeholder="haslo"/><br />
    		</div>
    		<div class="form-group">
    			<label for="exampleHire"><b>Data Zatrudnienia</b></label>
    			<input  class="form-control" type="text" th:field="*{pracownik.data_zatrudnienia}" id="exampleHire" placeholder="hiredate"/><br />
    		</div>
    		<div class="form-group">
            <label for="examplePesel"><b>Pesel</b></label>
            <input min="10000000000" max="99999999999" class="form-control" id="examplePesel" type="number" th:field="*{pracownik.pesel}" placeholder="pesel"/><br/>
            </div>
            <div class="form-group">
            <label for="exampleSalary"><b>Pensja</b></label>
            <input  class="form-control" id="exampleSalary" type="number" th:field="*{pracownik.pensja}" placeholder="pensja"/><br/>
            </div>
    		<div class="text-right">
    			<input class="btn btn-default" type="submit" value="Zatwierdź"/>
    		</div>
	</form></div></div>
	<div class="col-xs-3 col-md-3 col-sm-3 col-lg-3"></div>
	</div>
</div></div>



	
</body>
</html>